body {
    background : rgb(182, 116, 116);
}

.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 10px;
    padding: 20px;
}

.form-label {
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #000000;
}

.btn-secondary:hover {
    background-color: #000000;
}

.container {
    max-width: 1000px;
}
